{
  "status": "string",
  "credential": {
    "access_key": "{{ item.access_key | default('') }}",
    "access_secret": "{{ item.access_secret | default('') }}",
    "type": "{{ item.credential_type | default('') }}"
  },
  "name": "{{ item.name }}",
  "type": "{{ item.type }}",
  "url": "{{ item.url }}",
  "insecure": "{{ item.insecure | default(true) }}",
  "description": "{{ item.description | default('') }}"
}
